body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* .navbar {
  background-color: #333;
  padding: 10px;
} */

.navbar {
  background-color: #333;
  height: 80px;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  padding: 0 20px;
}
/*
Add this line to fix the logo size
*/
.nav-left {
  display: flex;
  align-items: center;
}

/* .nav-logo {
  max-height: 50px;
  width: auto;
  margin-right: 20px;
} */

.nav-logo {
  max-height: 50px;
  width: auto;
  margin-right: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.nav-logo:hover {
  transform: scale(1.1); /* 10% bigger */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* optional glow */
}

/* .nav-logo {
  height: 40px;
  width: auto;
  margin-right: 20px;
} */

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ffcc00;
}

.content {
  padding: 40px;
  text-align: center;
}